<div class="table-item row"  >
  <div class="table-col col s1">
    <p>{{user.id}}</p>
  </div>
  <div class="table-col col s4">
    <p>{{user.email}}</p>
  </div>
  <div class="table-col col s5">
    <p>{{user.hash}}</p>
  </div>
  <div class="table-col col s1 button">
    <button class="btn-floating waves-effect waves-light blue accent-1" (click)="onDelete()">
      <i class="material-icons">delete</i>
    </button>
  </div>
  <div class="table-col  col s1 button">
    <button class="btn-floating waves-effect waves-light blue accent-1">
      <i class="material-icons">mail</i>
    </button>
  </div>
</div>

